/* TODO Build this with scss. */

:root {
  --color1: #394648;
  --color2: #69995D;
  --color3: #CBAC88;
  --color4: #EDB6A3;
  --color5: #F8E9E9;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: var(--color1);
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

ul.list-horizontal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

ul.list-horizontal li {
  padding: 1rem;
}

ul.list-horizontal li a,
ul.list-horizontal li a:link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  padding: .5rem 1rem;
  background-color: #f8f8f8;
  border-radius: .3rem;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1);
  transition: all .5s ease;
}

ul.list-horizontal li a:hover,
ul.list-horizontal li a.active {
  background-color: #d1fbce;
  color: #0d3906;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

ul.list-horizontal li a.active {
  font-weight: 600;
}

.mapboxgl-popup {
  color: var(--color1);
  border-radius: 4px;
  overflow: hidden;
  transition: all .5s ease-in-out;
}
.popup-open {
  animation-name: popup;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.popup-closed {
  animation-name: popdown;
  animation-duration: .5s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}
.mapboxgl-popup-content {
  background-color: var(--color5);
  border: 1px solid var(--color1);
  letter-spacing: .5px;
  box-shadow: 3px 3px 15px 1px rgba(0,0,0,.4);
  padding: 0;
}
.mapboxgl-popup-content h2 {
  margin: 0;
  color: var(--color5);
  background-color: var(--color1);
  padding: .8rem 2rem;
  height: 4rem;
}
.mapboxgl-popup-content .details {
  padding: 2rem;
}
.mapboxgl-popup-close-button {
  width: 4rem;
  height: 4rem;
  color: transparent;
  outline: none;
}
.mapboxgl-popup-close-button::before,
.mapboxgl-popup-close-button::after {
  content: '';
  position: absolute;
  display: block;
  width: 2.5rem;
  height: .5rem;
  background-color: var(--color2);
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transition: all .5s ease-in-out;
}
.mapboxgl-popup-close-button::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.mapboxgl-popup-close-button::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-closed .mapboxgl-popup-close-button::before{
  transform: translate(-50%,-50%) rotate(-227deg);
}
.popup-closed .mapboxgl-popup-close-button::after {
  transform: translate(-50%,-50%) rotate(227deg);
}

@keyframes popup {
  0%{
    opacity: 0;
    height: 0;
  }
  20%  {
    opacity: 1;
  }
  100% {
    height: 230px;
  }
}
@keyframes popdown {
  0%{
    opacity: 1;
    height: 230px;
  }
  80% {
    opacity: 1;
  }
  100% {
    height: 0;
  }
}

button.marker {
  display: block;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color3);
  border-radius: 50%;
  padding: 0;
  position: absolute;
  cursor: pointer;
  outline: none;
  background-color: var(--color5);
  animation-name: markerIn;
  animation-duration: 1s;
  transition: all .3s;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.4);
}
button.marker::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color3);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
button.marker:active::after {
  width: .9rem;
  height: .9rem;
}
button.marker:hover {
  transform: scale(1.2);
}
@keyframes markerIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
  }
  65% {
    transform: scale(1.22);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

button.marker:hover img {
  transform: scale(1.3);
}

button.marker img {
  width: 20px;
  height: 20px;
  transition: .3s;
}
